{% extends "staff/home_airlineStaff.html" %} {% block title %}Add New Airplane{%
endblock %} {% block content %}

<h1>Add New Airplane</h1>
<div class="form-container">
    <form action="/home_airlineStaff_airplane" method="POST">
    <p> Airport information: </p>
    <input type="text" name = "Airline_name" placeholder="Airline Name" required/> </br>
    <input type="text" name = "id" placeholder="ID" required/></br>
    <input type="text" name = "num_seats" placeholder="Number of Seats" required/></br>
    <input type="text" name = "manufacturing_co" placeholder="Manufacturing Company" required/></br>
    <button type="submit"> New Airplane</button>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
    </form>
</div>
{% endblock %}
