<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome {{username}}</h1>
    <div class="lr-flexbox">
      <div class="container">View Flights</div>
      <div class="container">Create New Flights</div>
      <div class="container">Change Flights Status</div>
      <div class="container">Add New Airplane</div>
      <div class="container">Add New Airport</div>
      <div class="container">View FLight Ratings</div>
      <div class="container">View Reports</div>

      
      <a href="/logout">Logout</a>
  </body>
  
</html>
